html, body {
    padding:0;margin:0;height:100%;overflow: hidden;
}

.surface {
    height:100%;
    width:100%;
    position:relative;
    overflow: hidden;
}

.surface > div {
    transition: all 0.5s ease;
}
